/* ==UserStyle==
@name           Minimalist Blaseball
@namespace      github.com/winterhazelly/minimalist-blaseball
@version        1.0.0
@description    Reduced spacing between and around everything, collapsing sidebar and schedule, no gradients. Also unrounded the containers and unperspectivised the field graphic due to personal preference, removed user email on sidebar, and changed some fonts from monospace to regular to be easier on the eyes.
@author         Levi @winterhazelly
==/UserStyle== */

@-moz-document url-prefix("https://www.blaseball.com/") {
    
    html {
        background: #0a0b0d;
    }
    
    .main__contents {
        margin-top: 1rem;
    }
    
    .League-Standings {
        gap: 1rem;
        grid-template-columns: repeat(auto-fit,minmax(18rem,45%));
        justify-content: center;
    }
    
    .playtab,.League-DivisionCard {
        padding: 0.5rem;
        margin: auto;
        display: block;
    }
    
    .playtab__gamelist,.bet-widget__list {
        grid-gap: 0.6rem;
        margin-top: 1rem;
        max-width: 98%;
        grid-template-columns: repeat(auto-fill,minmax(18rem,1fr));
        justify-content: center;
    }
    
    .playtab__cover,.playtab__cover-ctas,.RankTeamValues,
    .League-DivisionCard-ListItem,.WinLossValues {    
        gap: 1rem;
    }
    
    .game-header__matchup {
        margin-right: 0.3rem;
    }
    
    .game-header__info, .hour {
        padding: 0.3rem;
    }
    
    .ticker {
        padding: 0.1rem;
        position: fixed;
        background: #0a0b0d;
        z-index: 100;
        height: 1.2rem;
        align-items: center;
    }
    
    .game-widget,.bet-widget__bet {
        gap: 0.2rem;
        padding: 0.2rem;
        width: 100%;
    }
    
    .game-widget__player-name,.game-widget__position {
        font-family: Sneak,sans-serif;
        font-size: .75rem;
        margin-left: 0.2rem;
    }
    
    .game-widget__log,.playtab__weather {
        font-family: Sneak,sans-serif;
        font-size: .8rem;
        line-height: 1.1rem;
    }
    
    .game-widget__centered {
        margin-top: 10px;
    }
    
    .game-widget__status {
        
        padding: 0.3rem;
        margin: 0;
    }
    
    .game-widget__box-score {
        width: auto;
    }
    
    .navigation {
        padding: 0;
        width: 10px;
        overflow: hidden;
        position: fixed;
        background: #0a0b0d;
        z-index: 50;
    }
    
    .navigation__block {
        font-family: Sneak, sans-serif;
        padding: 0px;
        gap: 0.5rem;
        opacity: 0;
        height:100%;
    }
    
    .navigation:hover {
        width: clamp(10rem,12rem,20rem);
        background: #0a0b0dee;
    }
    
    .navigation__block:hover {
        opacity: 100%;   
    }
    
    .navigation__link {
        gap: 0.2rem;
    }
    
    .user-header__lockup,.user-header__choices__fav-team {
        flex-direction: column; 
    }  
    
    .user-header__choices__fav-team {
        align-items: center;
        gap: 0.3rem;
    }
    
    .schedule {
        margin-bottom: 0;
        padding: 0;
        height: 0.6rem;
        overflow: hidden;
        border-bottom: 1px solid #3d414c;
        position: fixed;
        top: 1.2rem;
        background: #0a0b0d;
    }
    
    .schedule:hover {
        height: 4rem;
        background: #0a0b0dee;
    }
    
    .schedule__week {
        opacity: 0;
        align-items: center;
    }
    
    .schedule__week:hover {
        opacity: 100%;
    }
    
    .shared__glass-container {
        border-radius: 0;
        background: #0b0c0e;
        width: 100%;
    }
    
    .user-header__info__name {
        display: none;   
    }
    
    
    .game-widget__field {
        min-width: 65px;
        perspective: 0;
        transform: none;
    }
    
}
